{% extends "base.html" %}

{% load static %}

{% block src %}
    <!-- Tailwind deps -->
    <link href="{% static 'history/dist/tailwind.min.css' %}" rel="stylesheet">
    <!-- Entry script -->
    <script type="module" src="{% static 'history/main.js' %}"></script>
{% endblock %}

{% load custom_tags %}

{% block content %}
    
<div class="flex flex-col bg-gray-50">
  <form action="{% url 'history:index' %}" method="get" class="mx-32 my-4 h-12 flex justify-center items-center rounded">
    <input type="text" class="h-full px-4 w-4/5 border-2 border-blue-200 rounded" placeholder="Search" name="q">
    <div class="mx-2 w-1/5 flex justify-start items-center h-full">
      <input class="bg-blue-500 hover:bg-blue-700 text-white text-center py-2 px-4 rounded" type="submit" value="Search"/>
    </div>
  </form>

  {% if filtered %}
  <div class="m-auto my-4 flex items-center">
    <span>You are viewing {{logs|length}} results • </span>
    <a href="{% url 'history:index' %}" class="mx-2 text-center font-medium text-blue-500 hover:text-black cursor-pointer">Clear</a>
  </div>
  {% endif %}

  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Caller
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Destination
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Budget
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Call Time
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Date
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Remark
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            {% for log in logs %}
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="flex justify-center items-center flex-shrink-0 h-10 w-10 rounded-full bg-blue-200 font-medium">
                    <span>{{ log.fullname|initials }}</span>
                  </div>
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                        {{ log.fullname }}
                    </div>
                    <div class="text-sm text-gray-500">
                        {{ log.extn }}
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ log.destination }}</div>
                <div class="text-sm text-gray-500">{% if log.is_international %} International ✈ {% else %} Local {% endif %}</div>
              </td>

              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ log.budget }}</div>
                <div class="text-sm text-gray-500">{% if log.is_official %} Official 💼 {% else %} Personal {% endif %}</div>
              </td>

              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{ log | get_call_time }}
              </td>

              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{ log | get_call_date }}
              </td>

              <td class="px-6 py-4 whitespace-nowrap">
                <span class="mx-auto px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-{{ log.remark|rmkcolor }}-500 text-white">
                    {{ log.remark }}
                </span>
              </td>

              {% if user.is_authenticated %}
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <a href="{% url 'admin:index' %}logger/calllog/{{log.id}}/change" class="text-blue-600 hover:text-blue-900">Edit</a>
                </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}