{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Inject page entry src -->
    {% block src %}{% endblock %}

    <link href="{% static 'logger/dist/tailwind.min.css' %}" rel="stylesheet">

    <title>NOC Call Logger</title>
</head>
<body>
    <nav class="h-12 flex align-center justify-end bg-gray-50">
        <ul class="space-x-8 mx-4 flex items-center">
            <li><a href="/">Logger</a></li>
            <li><a href="#">Call History</a></li>
            <li><a href="#">Generate Report</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>

    <!-- Inject page HTML content -->
    {% block content %}{% endblock %}
</body>
</html>