{% load static %}
<html>

<head>
    <link href="{% static 'logger/dist/tailwind.min.css' %}" rel="stylesheet">
</head>

<body>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form class="w-full h-full flex justify-center" method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <div class="md:w-1/3 flex flex-col justify-center align-center text-center">
            <label class="block text-3xl font-bold text-gray-900 my-8">Log in to your account</label>

            <input class="w-full p-2 border border-gray-400 border-b-1 rounded-t-lg" type="text" name="username" placeholder="Username" required>

            <input class="w-full p-2 border border-gray-400 border-t-0 rounded-b-lg" type="text" name="password" placeholder="Password" required>

            <button type="submit" class="my-8 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                    <svg class="h-5 w-5 text-blue-500 group-hover:text-blue-400" x-description="Heroicon name: solid/lock-closed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
  <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path>
                    </svg>
                </span>
                Login
          </button>
        </div>
    </form>
</body>
</html>